{% load custom_filters %}

<h2>Hands List</h2>
<ul>
    {% for hand in hands %}
        <li>
            <pre>Hand #{{ hand.id }} Subject {{ hand.subject }}</pre>
            <pre>{{ hand.cards|color_suits|safe }}</pre>
            <pre>{{ hand.bids|color_suits|safe }}</pre>
            <div class="result" id="result-{{ hand.id }}"></div>
            Correct Answer: {{ hand.correct_answer }}
            <a href="{% url 'manage:update_hand' hand.id %}">Edit</a>
            <a href="{% url 'manage:delete_hand' hand.id %}">Delete</a>

            <!-- Embed hand data in a div -->
            <div id="hand-{{ hand.id }}"
                 data-cards="{{ hand.cards }}"
                 data-bids="{{ hand.bids }}"
                 data-correct-answer="{{ hand.correct_answer }}">
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'manage:create_hand' %}">Add New Hand</a>
